
html{
    font-weight: bold;
    color: red;
    
}

body{
    display: flex;
    flex-direction: row;
    height:100vh;
    background-color: black;
    justify-content: center;

}

/* Loading page */
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Aladin', cursive;
}
.onLoadImg{
    height:90vh;
    width:auto;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.initText{
    font-size: 10vh;
    color:goldenrod;
    align-self: center;
    text-shadow: 2px 2px brown;
}
.init2{
    font-size: 4vh;
    color:goldenrod;
    /* align-self: center; */
    text-shadow: 2px 2px brown;
    min-width: 35vh;
    text-align: center;
}
/* a{
    align-self: flex-start;
} */
/* mark, mark a{
    align-self: stretch;
    display:flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
} */
/* nav button{
    background-color: black;
    border: none;
    border-radius: 50%;
    font-size: 20px;
} */

/* Playing Page */
.buyins{
    left: 65vw;
    top: 35vh;
}

main{
    /* height:80%; */
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

main img{
    width: 12vh;
    height:12vh;
    margin: 0 -7vh;
}

section:first-child{
    align-self: flex-start;
}

section:nth-child(3){
    align-self: flex-start;
}

section:nth-child(8){
    align-self: flex-end;
}

p{
    color:white
}

#scores{
    align-self: center;
    text-align: center;
}


#playerName{
    font-size: 5vh;
    font-variant-caps: small-caps;
    white-space: pre-wrap;
}

#alert{
    color: goldenrod;
    font-style: italic;
    font-weight: bold;
    font-variant-caps: small-caps;
    text-shadow: 2px 2px brown;
    font-family: 'Aladin', cursive;
}

footer{
    /* height:20%; */
    width: 15%;
    background-color: #190E11;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
    /* padding:20px; */
    /* margin:10px; */
}

.allmyButtons{
    display: flex;
    flex-direction: column;
    padding:20px;
}
footer button{
    /* min-width: 10vw; */
    /* display: block;*/
    width: 100%;
    margin: .5vw 0px .5vw 0px;
    /* padding: 10px; */
}
.chips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    margin: .5vw 0px .5vw 0px;
    justify-content: space-around; 
}

footer img{
    align-self: center;
    margin: .5vw;
    width: 5vw;
    height:5vw;

}


.nameChips{
    align-self: flex-end;
    justify-self: flex-start;
}


.bg2{
    background-image: url(img/blackjack-classic-background.jpg);
    height:100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.freeze{
    pointer-events:none;
}

.hidden { 
    display: none; 
}

.overlay {
    background-color: gray;
    opacity: .5;
}

.imgOverlay {
    /* position: fixed;  */
    /* Sit on top of the page content */
    /* display: none;  */
    /* Hidden by default */
    /* width: 100%;  */
    /* Full width (cover the whole page) */
    /* height: 100%;  */
    /* Full height (cover the whole page) */
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* background-color: rgba(0,0,0,0.5);  */
    /* Black background with opacity */
    /* z-index: 3;  */
    /* Specify a stack order in case you're using a different order for other elements */
    /* cursor: pointer;  */
    /* Add a pointer on hover */
    background-image: url(img/blackjack_icon.png);
    opacity: .5;
  }

w
/* @media screen and (orientation: portrait){
    body{
        flex-direction: column;
    }
} */
